---
centos7-pulp3-source:
  box: 'pulp3-source-centos7'
  memory: 4096
  nfs:
    host_path: ~/dev/nfs/centos7-pulp3-source/
    guest_path: /home/vagrant/nfs/
  ansible:
    playbook: "ansible-pulp3/source-install.yml"
    galaxy_role_file: "requirements.yml"
    verbose: vv
    variables:
      pulp_source_dir: /home/vagrant/nfs/pulp
      pulp_install_plugins:
        pulp-file:
          app_label: "pulp_file"
          source_dir: "/home/vagrant/nfs/pulp_file"
...
